<footer class="bg-primary text-white">
    <div class="container py-5">
        <div class="row text-center text-md-start">
            <!-- About Us -->
            <div class="col-md-3 mb-4">
                <img src="img/logo.png" alt="Logo" class="footorlogo mb-3" />
                <h3 class="font-weight-bold">Sahabat Tani</h3>
                <p>
                    PT Sahabat Tani is a company engaged in coconut processing,
                    established in 2022 and located in West Java Provinc
                </p>
            </div>

            <!-- Contact Us -->
            <div class="col-md-3 mb-4">
                <h5 class="font-weight-bold">CONTACT US</h5>
                <br />
                <a
                    style="color: white; text-decoration: none"
                    href="contact.html"
                    >+62 813-1855-3234</a
                >
                <br />
                <a
                    style="color: white; text-decoration: none"
                    href="contact.html"
                    >+62 812-8359-8638</a
                >
            </div>

            <!-- Our Partner -->
            <!-- <div class="col-md-3 mb-4">
                <h5 class="font-weight-bold">SOSIAL MEDIA</h5>
                <div class="d-flex flex-column align-items-center">
                    <img
                        src="path/to/partner-logo1.png"
                        class="img-fluid mb-2"
                    />
                    <img
                        src="path/to/partner-logo2.png"
                        class="img-fluid mb-2"
                    />
                    <img
                        src="path/to/partner-logo3.png"
                        class="img-fluid mb-2"
                    />
                </div>
            </div> -->

            <!-- Our Page -->
            <div class="col-md-3 mb-4">
                <h5 class="font-weight-bold">MENU</h5>
                <div class="d-flex flex-column brandfot">
                    <a href="index.html">Home</a>
                    <a href="aboutus">About Us</a>
                    <a href="ourporduk.html">Our Produk Us</a>
                    <a href="contact.html">Contact</a>
                </div>
            </div>

            <!-- Our Produck -->
            <div class="col-md-3 mb-4">
                <h5 class="font-weight-bold">OUR PRODUCK</h5>
                <br />
                <a
                    style="color: white; text-decoration: none"
                    href="contact.html"
                    >Minyak Kelapa</a
                >
                <br />
                <a
                    style="color: white; text-decoration: none"
                    href="contact.html"
                    >Bungkil Kelapa</a
                >
                <br />
                <a
                    style="color: white; text-decoration: none"
                    href="contact.html"
                    >Soybean Meal</a
                >
            </div>
        </div>

        <!-- Bottom Section -->
        <div class="border-top border-light mt-4 pt-3 text-center">
            <p class="mb-0 text-center">Copyright © 2024 UX Themes</p>
            <!-- <div
                class="d-flex justify-content-between align-items-center flex-column flex-md-row"
            >
                <div class="d-flex mt-3 mt-md-0">
                    <img src="path/to/visa-logo.png" class="me-2" />
                    <img src="path/to/paypal-logo.png" class="me-2" />
                    <img src="path/to/stripe-logo.png" class="me-2" />
                    <img src="path/to/mastercard-logo.png" class="me-2" />
                    <img src="path/to/cash-on-delivery-logo.png" class="me-2" />
                </div>
            </div> -->
        </div>
    </div>
</footer>
